@import url('/fonts/fonts.css');
/*
@import url('https://css.gg/css');
@import url('https://unpkg.com/css.gg/icons/all.css');
@import url('https://cdn.jsdelivr.net/npm/css.gg/icons/all.css');
*/
h1,h2,h3,h4,h5,h6 {
	font-family: inter-bold;
}

h1 {font-size: 2rem;}

div#container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

* {
	padding: 0;
	margin: 0;
	font-size: 1.1rem;
	font-weight: 200;
	font-family: inter;
}

body {background: #fff;}
/*HEADER*/
header {
	width: 100vw;
	height: 5vh;
	background: #fff;
	padding: 10px 0px;
	color: #fff;

	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: space-around;
}
header img {
	height: 5vh;
	margin: 10px 20px;
}

nav ul li{
	display: inline-block;
	list-style: none;
}
nav li a {
	padding: 10px 20px;
	font-weight: 500;
	margin-right: 20px;
	text-decoration: none;
	color: #393939;
}
/*MAIN*/
main {
	display: flex;
	align-items: center;
	justify-content: center;
}
article,aside {
	width: 50vw;
	height: 80vh;
}
article img {width: 100%;}
article {
	background: url('./img/banner1.png');
	background-size: 100%;
	color: #393939;
}
aside {
	margin: 20px 0px;
	background: #01272D;
	color: #393939;

	display: flex;
	align-items: center;
	justify-content: center;
}
footer{
	width: 100vw;
	height: 10vh;
	background: #424;
}
aside .titulo {
	width: 50%;

}